fastapi~=0.96.1
psutil~=5.9.5
git+https://github.com/Mahas1/googletrans-async
uvicorn~=0.22.0
aiohttp~=3.9.0rc0
spotipy~=2.23.0
sqlalchemy~=2.0.22
requests~=2.31.0
pytesseract~=0.3.10
numpy~=1.26.2
Pillow~=10.1.0
python-multipart